.left img {
    height: 70%;
    border: 1px solid white;
    border-radius: 45%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    display: flex;
}
.title{
    text-align: center;
    margin: 10px 10px 0 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color:rgb(188, 188, 239) ;
    padding: 10px;
    
}
.left{
    background-color: rgb(255, 255, 255);
     margin: 0px 10px 0 10px;
    height: 100vh;
    
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
}
strong{
    color: blue;
}
.skill ul, dd{
    padding-left: 40px;
    padding-top: 10px;
}
.contact ul {
    padding-left: 40px;
    padding-top: 10px;
}
.footer{
    padding-bottom: 10px;
}
@media (max-width: 450px) {
  .container {
    flex-direction: column;
    height:100vh;
  }
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  font-variant: small-caps;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 3px;
}
p {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

img{
    height: 150px;
    width: 430px;
}
